.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 7px;
  color: white;
}

.header label{
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.indicator::before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
}
.nickinput{
  height: 30px;
  width: 200px;
  margin: 0 10px;
  border: none;
  text-align: center;
  background-color: rgb(59, 44, 44);
  border-radius: 10px;
  color: wheat;
  font-size: large;
}
  
