body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(49, 46, 46);
}

code {
  font-family: Arial,
    monospace;
}

.root {
  display: flex;
  height: 800px;
  width: 1600px;
}
